#footer__email{
	padding-right: 0px;
	width: 200px;
 }

.footer__btn{
	padding-left: 0px;
	width: 100px;
}

@media(max-width: 767px)
{
	#footer__email{
		width: 100%;
		
 	}
	.footer__btn{
		width: 100%;
		margin-right: 0px;
	}
	.row__footer-brand{
		margin-top: 0px;
	}
	#app{
		margin-bottom: 0px;
	}
	.content{
		margin-bottom: 0px;
	}
	footer{
		margin-top: -15px;
	}
}
.nano {
	margin-top: 5px;
}
hr.socket{
	margin-bottom: 0.5rem;
}