.rec{
	background-color: rgb(228, 228, 228); 
	height:600px; 
	width: 100%; 
	position:relative;
	@media(max-width: 767px){
		height:400px; 
	}
	
}
.rec__block{
	background-color: lavender; position: absolute; 
	top: 15%; 
	width: 90%; 
	height: 600px; 
	margin-left: 5%; 
	margin-right: 5%; 
	display: flex;
	@media(max-width: 767px){
		height:400px; 
		flex-direction: column;

	}
}
.rec__block-1{
	
	width: 50%; 
	height: 100%; 
}
.rec__block-2{
	background-color: rgb(145, 191, 243); 
	width: 50%; 
	height: 100%; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	flex-direction: column; 
	padding: 0 5%;
}
.rec__block-2 p{
	margin-bottom: 30px;
	color: white;
	padding: 5%;
}
@media(max-width: 767px){
	.rec__block-1,
	.rec__block-2{
		width: 100%;
	}
	.rec__block-2 p{
		padding-top: 20px;
	}
	.rec__link{
		padding-bottom: 20px;
	}
}