.ff{
color:rgb(190, 190, 190);
}
#check input{
	display: none;
}
input[type=checkbox]{
	display: none;
	}
	.box{
		position: fixed;;
		top: 80vh;
		left: 0%;
		transition: translate(-30%, 30%);
		width: 30px;
		height: 30px;
		transition: .5s;
		z-index: 100;
	}

	.box label{
		position: absolute;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		text-align: center;
		left: -30px;
		color: rgb(184, 184, 184);
		font-size: 18px;
		cursor: pointer;
		transition: .5s;
		box-shadow: -1px -1px 2px #edeff1,
		2px 2px 3px #cacfd8;
	}

	.box label:hover{
		box-shadow: -1px -1px 2px #edeff1,
		2px 2px 3px #cacfd8;
		transform: scale(1.1);
	} 
	.box input{
		width: 100%;
		height: 100%;
		background-color:rgba(255, 255, 255);
		border: none;
		border-radius: 30px;
		outline: none;
		font-size: 19px;
		padding-left: 30px;
		color: rgb(184, 182, 182);
		box-shadow: -1px -1px 2px #f2f4f7,
		3px 3px 5px #cacfd8;
		transition: .5s;
		opacity: 0;
	}
	.box input::placeholder{
		color:rgb(175, 175, 175);
	}
	
	.box input:focus{
		box-shadow: -1px -1px 2px #edeff1,
		3px 3px 5px #cacfd8;
	}
	#check:checked+.box{
		width: calc(100vw - 10px);
		left: 5px;
	}
	#check:checked+.box > input{
		opacity: 1;
	}
	#check:checked+.box > label{
		box-shadow: none;
		transform: scale(1.1);
		left: -10px;
	}
	#check:checked+.box > label:hover{
		transform: scale(1.1);
		left: -10px;
	}