// .ac-category {
// 	display: none;
// }

// .products {
// 	display: none;
// }



// #loadMore {
// 	padding: 10px;
// 	text-align: center;
// 	background-color: #33739E;
// 	color: white;
// 	border-width: 0 1px 1px 0;
// 	border-style: solid;
// 	background-color: #fff;
// 	box-shadow: 0 1px 1px #ccc;
// 	transition: all 600ms ease-in-out;
// }
// #loadMore:hover{
// 	background-color: #fff;
// 	color: #33739E;
// }

.shop__container{
	width: 80%;
	padding: 0 10%;
}
a.rec__link-shop{
	padding-bottom: 10px;
}
@media (max-width:767px) {
	
	.sidebar {
		display: none;
	}
	.ac-category {
		display: block;
		width: 100%;
		padding: 0px;
	}
	.top {
		justify-content: start;
	}
	ol.breadcrumb {
		margin-bottom: 0;
	}
	.content {
		padding-bottom: 50px;
	}
}