html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	font-family: arial;
}
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	max-width: 100%;
	overflow: hidden;
	top: 0;
	left: 0;


}

.main {
	flex: 1 0 auto;
}
.container-fluid {
	width: 100%;
	margin: 0px auto;
}
.container {
	max-width: 1180px;
	padding: 0px 15px;
	margin: 0px auto;
}
.content {
	padding-top: 120px;
}
a, a:visited{
	text-decoration: none;
	position: relative;
}
a, a:hover{
	text-decoration: none;
}
a.category__link:hover,
a.breadcrumb__link:hover{
	text-decoration: none;
}
// a:after{
// 	display: block;
// 	position: absolute;
// 	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
// 	width: 0;/*задаём длинну линии до наведения курсора*/
// 	height: 2px; /*задаём ширину линии*/
// 	background-color: $blue; /*задаём цвет линии*/
// 	content: "";
// 	transition: width 0.3s ease-out; /*задаём время анимации*/
// }
// a:hover:after,
// a:focus:after{
// 	width: 100%;
// }
.content__text {
	font-size: 16px;
	line-height: 20px;
	position: absolute;
	margin-top: 15px;
}
.content__text p {
	margin-bottom: 20px;
}
.gotop {
	position: fixed;
	width: 50px;
	height: 50px;
	background: rgba(56, 193, 114, 0.5);
	bottom: 40px;
	right: 50px;

	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 22px;

}
@media (max-width: 767px) {
	.content {
		padding: 60px 0px 0px 0px;
	}
	.gotop {
		bottom: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		font-size: 18px;
		line-height: 30px;
	}
}

i.fa.fa-phone{
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:perspective(1px) translateZ(0);
	transform:perspective(1px) translateZ(0);
	box-shadow:0 0 1px rgba(0,0,0,0);
	-webkit-transition-duration:.3s;
	transition-duration:.3s;
	-webkit-transition-property:transform;
	transition-property:transform
}
i.fa.fa-phone:active,
i.fa.fa-phone:focus,
i.fa.fa-phone:hover{
		-webkit-transform:scale(1.1) rotate(4deg);
		transform:scale(1.1) rotate(4deg)
	}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}	
p{
	font-size:20px;
	color: grey;
}
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
	
.ibg img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}