i.fa.fa-search::before,
	i.fa.fa-times::before  {
	position: absolute;
	color: rgb(170, 170, 170);
	font-weight: 16px;
	cursor: pointer;
	top: -32px;
	left: 60%;
}

.search-box::placeholder {
	font-style: italic;
	text-align: center;
	color: rgb(182, 181, 181);
} 
.form input:not(:focus) + label.cursor:before {
	display: inline-block;
	animation: cursor 1s infinite step-end;
 }

 .search__shop {
	 display: none;
 }
 
 @keyframes cursor {
	50% { background: transparent; }
 }
 @media (max-width: 1224px){
	nav form {
		position: absolute;
		width: 80%;
		left: 90%;
		top: 50px;
		}
		i.fa.fa-search::before,
	i.fa.fa-times::before  {

	top: -10px;
	left: 90%;
	}
}

@media (max-width: 767px) {
	.search__shop {
		display: block;
	}

	.head__search {
		display: block;
	}
	.fa-times {
		display: block;
	}
	.navbar-brand a {
		padding-bottom: 0;
	}
	.query.search-box::placeholder {
		font-style: italic;
		color: rgb(182, 181, 181);
	} 
	.search-box {
		margin-bottom: 10px;
		width: 100%;
		position: relative;
	}
	i.fa.fa-search::before,
	i.fa.fa-times::before {
		position: absolute;
		left:  90%;
		top: 5px;
		
		font-weight: 20px;
		padding-right: 5px;
	}

	form.search-form {
	  left: 23%;
	  top: 5px;
	  width: 300px;
  }
	
	.form input.active {
		top: -6px;
		width: 85%;
		right: 17%;
		left: 10px;
	}
}

.search-box {
	//   text-decoration: underline;
	 background-color: rgb(245, 244, 244);
	 outline: none;
	 border: 1px solid transparent;
	 border-radius: 8px;
	
 }
 
 ::-webkit-input-placeholder {
	//   text-decoration: underline;
	  color: rgb(170, 170, 170);

 }

.name__lang {
	 position: relative;
 }
nav form {
	position: absolute;
	width: 80%;
	left: 25%;
	top: 90px;
	
}

nav form input {
	position: relative;
	width: 50%;
	transform: scaleX(0);
	transform-origin: right;
	transition: 0.5s;
	border-bottom: 1px solid #e5e5e5;
}
nav form input.active {
	transform: scaleX(1);
	 padding: 10px;
	 left: 5%;
}
nav form input.active ~ .fa-search{
	display:	none;
}
nav form input.active ~ .fa-times{
	display: block;
}

.fa-times {
	display: none;
}