// i.fa.fa-search::before {
// 	color: rgb(231, 229, 229);
// 	font-weight: 16px;
// 	cursor: pointer;
// }
nav form .fa {
	position: absolute;
	color: rgb(170, 170, 170);
	font-weight: 16px;
	cursor: pointer;
	top: 5px;
	right: 30%;
}

.search-box::placeholder {
	font-style: italic;
	text-align: center;
} 
.form input:not(:focus) + label.cursor:before {
	display: inline-block;
	animation: cursor 1s infinite step-end;
 }
 
 @keyframes cursor {
	50% { background: transparent; }
 }

@media (max-width: 767px) {

	i.fa.fa-search::before {
		color: rgb(255, 255, 255);
		padding-right: 5px;
		padding-left: 0px;
		font-weight: 20px;
		
	}

	.navbar-brand a {
		padding-bottom: 0;
	}

	.query.search-box::placeholder {
		font-style: italic;
		color: rgb(182, 181, 181);
		
		
	} 

	.search-box {
		margin-bottom: 10px;
	}
	nav form .fa {
		right: 25%;
		top: 5px;
		color: white;
	}
	form.search-form {
		left: 20%;
		top: 5px;
		width: 300px;
	}
	nav form input.active  {
		top: -4px;
	}


}
.search-box {
	//   text-decoration: underline;
	 background-color: rgb(245, 244, 244);
	 outline: none;
	 border: 1px solid transparent;
	 border-radius: 8px;
	
 }
 
 ::-webkit-input-placeholder {
	//   text-decoration: underline;
	  color: rgb(170, 170, 170);

 }

.brend__name {
	 position: relative;
 }
nav form {
	position: absolute;
	width: 60%;
	left:  80%;
	
}

nav form input {
	position: relative;
	width: 70%;
	transform: scaleX(0);
	transform-origin: right;
	transition: 0.5s;
	border-bottom: 1px solid #e5e5e5;
}
nav form input.active {
	transform: scaleX(1);
	padding: 10px;
}
nav form input.active ~ .fa-search{
	visibility: hidden;
}
nav form input.active ~ .fa-times{
	display: block;
}

.fa-times {
	display: none;
}