body {
    background-color: #fff !important;
}


.container {
    max-width: 960px;
    margin: 0 auto;
}


.nav_page {
    float: right;
}

ol.breadcrumb {
    list-style: none;
    display: flex;
    padding-left: 0px;
    background-color: #fff;
    padding-top: 0;

}

.sidebar {
    justify-content: flex-start;

}

.sidebar p {
    padding-top: -5px;
}

ul.categories {
    list-style-type: none;
    float: left;
}

.main {
    margin-top: 0;
}

.thumbnail img {
    max-width: 150px;
}

.cart_item {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.price {
    font-weight: bold;
    font-size: 18px;
    color: rgb(88, 84, 84);
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
}

.printPrice {
    color: rgb(122, 120, 120);
}



.card-text {
    color: gray;
    text-align: left;
}

.btn {
    margin-right: 5px;
}

.row-right {
    text-align: right !important;
}


.cart-img {
    position: relative;
}

.cart-link {
    position: absolute;
    right: 5%;

    padding-top: 5%;
    opacity: 0.4;
}

.cart-link:hover {

    opacity: 1;
}

.row-link a {
    opacity: 0.2;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.fa-heart-o:hover {
    color: red;
}

i.fa-heart-o {
    color: grey;

}

.overflow-hidden {
    overflow: hidden;
}

input[type=product_count] {
    width: 30px;
}

.product_category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form_star {
    right: 0;
}

.button_center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.block {
    margin-top: 5%;
}

/* flex-контейнер */
.block__row {


    display: flex;
}

/* flex-элемент */
.block__element {

    /* border: 1px solid #838385; */
    flex: 0 1 33.333%;
    height: 50px;

}

/* flex-элемент №1 */
.block__element_1 {
 background-color: rgb(255, 244, 230);
}

/* flex-элемент №2 */
.block__element_2 {
    background-color: #e4edeb;
}

/* flex-элемент №3 */
.block__element_3 {
    background-color: #fde9e0;
    
}

/* flex-элемент №3 */
.block__element_4 {
    background-color: #e0ecfb;
}

/* flex-элемент №3 */
.block__element_5 {
    background-color: #f1f8ee;
}

/* контент */
.block__content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #18b5a4; */
    height: 100%;
  
    /* плюс прочие стили для текста, отступы */
}
